<html>
<head>
    <title>$i18n.getText("groovioli-admin.action.listeners.title")</title>
    <meta content="admin" name="decorator"/>
    <meta content="admin_plugins_menu/groovioli-admin-section" name="admin.active.section">
    <meta content="groovioli-admin-listeners-link" name="admin.active.tab">
    $webResourceManager.requireResource("jira.webresources:global-static")
    $webResourceManager.requireResource("jira.webresources:jira-global")
    $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
    $webResourceManager.requireResourcesForContext("groovioli-listeners")
</head>
<body class="aui">
<section id="content" role="main">
    <header class="aui-page-header">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-main">
                <h2>$i18n.getText("groovioli-admin.action.listeners.title")</h2>
            </div>
            <div class="aui-page-header-actions">
                <div class="aui-buttons">
                    <a id="add-listener-link" class="aui-button" href="ListenersAddAction!default.jspa" title="Add Listener">
                        <span class="aui-icon aui-icon-small aui-iconfont-add"></span>
                        $i18n.getText("groovioli-admin.action.listeners.addbutton")
                    </a>
                </div>
                <a class="help-lnk" href="https://docs.atlassian.com/jira/jadm-docs-077/Defining+issue+type+field+values" title="Get online help about Defining issue type field values" data-helplink="online" target="_jirahelp">
                    <span class="aui-icon aui-icon-small aui-iconfont-help">Get help!</span>
                </a>
            </div>
        </div>
    </header>
    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content">
                <table class="aui">
                    <thead>
                    <tr>
                        <th id="note">$i18n.getText("groovioli-admin.action.listeners.note")</th>
                        <th id="projects">$i18n.getText("groovioli-admin.action.listeners.projects")</th>
                        <th id="eventType">$i18n.getText("groovioli-admin.action.listeners.eventType")</th>
                        <th id="actions">$i18n.getText("groovioli-admin.action.listeners.actions")</th>
                    </tr>
                    </thead>
                    <tbody>
                    #foreach($item in $listenerDataList)
                    <tr>
                        <td headers="note">$!{item.note}</td>
                        <td headers="projects">
                            #foreach($projectId in $item.projectIds)
                            <span class="aui-lozenge aui-lozenge-current">$action.resolveProjectName($projectId)</span>
                            #end
                        </td>
                        <td headers="eventType">$!{item.event}</td>
                        <td class="action" headers="actions">
                            <ul class="menu">
                                <li><a href="#">$i18n.getText("groovioli-admin.action.listeners.actions.view")</a></li>
                                <li><a href="#">$i18n.getText("groovioli-admin.action.listeners.actions.delete")</a></li>
                            </ul>
                        </td>
                    </tr>
                    #end
                    </tbody>
                </table>

            </section>
        </div>
    </div>
</section>
</body>
</html>
