<form action="ScriptReadOnlyViewFieldAction.jspa" method="post" class="aui">
    <div class="field-group">
        <label for="viewTemplate">$i18n.getText("groovioli-field.readonly.config.config.viewTemplate"):</label>
        <span id="viewTemplate" class="field-value">$!{viewTemplate}</span>
    </div>
    <div class="field-group">
        <label for="columnTemplate">$i18n.getText("groovioli-field.readonly.config.config.columnTemplate"):</label>
        <span id="columnTemplate" class="field-value">$!{columnTemplate}</span>
    </div>
</form>
